


/*===========================
    10.CONTACT css 
===========================*/

.contact_area{
    position: relative;
    z-index: 5;//a 
    
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($heading-color, 0.9);
        z-index: -1;
    }
}


p{
    &.form-message.success,
    &.form-message.error {
        font-size: 16px;
        color: $heading-color;
        background: $gray;
        padding: 10px 15px;
        margin-top: 30px;
        background-color: $white;
        margin-left: 15px;
        
        &.form-message.error{
            color: #f00;
        }
    }
}

.single_form{
    margin-top: 30px;
    
    & input,
    & textarea{
        width: 100%;
        height: 55px;
        border: 1px solid rgba($white, .6);
        padding: 0 25px;
        font-size: 16px;
        color: $white;
        background: none;
        @include transition(.3s);

        &:focus {
            border-color: $white;
        }
    }
    
    & textarea{
        height: 170px;
        resize: none;
        padding-top: 15px;
    }
}






