


/*===========================
    11.FOOTER css 
===========================*/

.footer_area{
    background-color: $theme-color;
    padding-top: 15px;
    padding-bottom: 30px;

}

.footer_menu{
    & ul{
        & li{
            display: inline-block;
            padding-top: 5px;
            
            & + li{
                margin-left: 30px;
                
                @media #{$xs}{
                    margin-left: 15px;
                }
            }
            
            & a{
                font-size: 16px;
                color: rgba($white, .8);
                @include transition(.3s);

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

.credit{font-size: 16px; color: #fff; padding-top: 15px; a{color: #fff;}}

.footer_social{
    & ul{
        & li{
            display: inline-block;
            
            & + li{
                margin-left: 30px;
            }
            
            & a{
                font-size: 26px;
                color: rgba($white, .8);
                @include transition(.3s);

                &:hover {
                    color: $white;
                }
                
                @media #{$xs}{
                    font-size: 20px;
                }
            }
        }
    }
}



/*===== BACK TO TOP =====*/

.back-to-top{
    font-size: 20px;
    color: $white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: $theme-color;
    text-align: center;
    z-index: 99;
    @include transition(0.3s);
    @include box-shadow(0px 2px 5px rgba(0, 0, 0, .2));
    display: none;
    
    &:hover{
        color: $white;
        background-color: $theme-color;
    }
}






