


/*===========================
     02.HEADER css 
===========================*/


/*===== NAVBAR =====*/


.header_navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    @include transition(0.3s);
}


.sticky {
    position: fixed;
    z-index: 99;
    background-color: $white;
    @include box-shadow (0px 20px 50px 0px rgba(0, 0, 0, 0.05));
    @include transition(0.3s);

    & .navbar {
        padding: 15px 0;
    }
}


.navbar {
    padding: 20px 0;
    border-radius: 5px;
    position: relative;
    @include transition(0.3s);
    
}

.navbar-brand {
    padding: 0;
    
    & img{
        width: 150px;
        
        @media #{$xs}{
            width: 130px;
        }
    }
}


.navbar-toggler {
    padding: 0;

    &:focus {
        @include box-shadow(none);
    }

    & .toggler-icon {
        width: 30px;
        height: 2px;
        background-color: $white;
        display: block;
        margin: 5px 0;
        position: relative;
        @include transition(0.3s);
    }

    &.active {
        & .toggler-icon {
            &:nth-of-type(1) {
                @include transform(rotate(45deg));
                top: 7px;
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:nth-of-type(3) {
                @include transform(rotate(135deg));
                top: -7px;
            }
        }
    }
}


.navbar-collapse {
    @media #{$md} {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $white;
        z-index: 9;
        @include box-shadow (0px 15px 20px 0px rgba(0, 0, 0, 0.1));
        padding: 5px 12px;
    }

    @media #{$xs} {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $white;
        z-index: 9;
        @include box-shadow (0px 15px 20px 0px rgba(0, 0, 0, 0.1));
        padding: 5px 12px;
    }
}


.navbar-nav {
    & .nav-item {
        position: relative;
        margin-left: 40px;
        
        @media #{$lg}{
            margin-left: 30px;
        }
        @media #{$md}{
            margin: 0;
        }
        @media #{$xs}{
            margin: 0;
        }

        & a {
            font-size: 16px;
            font-weight: 400;
            color: $white;
            @include transition(0.3s);
            padding: 10px 0;
            position: relative;
            
            &::before{
                position: absolute;
                content: '';
                bottom: 0px;
                left: 0;
                width: 0;
                height: 3px;
                background-color: $white;
                @include transition(0.3s);
                
                @media #{$md}{
                    display: none;
                }
                @media #{$xs}{
                    display: none;
                }
            }

            @media #{$md} {
                display: block;
                padding: 4px 0;
                color: $black;
            }

            @media #{$xs} {
                display: block;
                padding: 4px 0;
                color: $black;
            }

            &.active,
            &:hover {
                @media #{$md} {
                    color: $theme-color;
                }

                @media #{$xs} {
                    color: $theme-color;
                }

                &::before {
                    width: 100%;
                }
            }
        }

        

        &:hover {
            & .sub-menu {
                top: 100%;
                opacity: 1;
                visibility: visible;

                @media #{$md} {
                    top: 0;
                }

                @media #{$xs} {
                    top: 0;
                }
            }
        }

        & .sub-menu {
            width: 200px;
            background-color: $white;
            @include box-shadow (0px 0px 20px 0px rgba(0, 0, 0, 0.1));
            position: absolute;
            top: 110%;
            left: 0;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);

            @media #{$md} {
                position: relative;
                width: 100%;
                top: 0;
                display: none;
                opacity: 1;
                visibility: visible;
            }

            @media #{$xs} {
                position: relative;
                width: 100%;
                top: 0;
                display: none;
                opacity: 1;
                visibility: visible;
            }

            & li {
                display: block;

                & a {
                    display: block;
                    padding: 8px 20px;
                    color: $black;

                    &.active,
                    &:hover {
                        padding-left: 25px;
                        color: $theme-color;
                    }
                }
            }
        }
    }

    & .sub-nav-toggler {
        display: none;

        @media #{$md} {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            background: none;
            color: $black;
            font-size: 18px;
            border: 0;
            width: 30px;
            height: 30px;
        }

        @media #{$xs} {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            background: none;
            color: $black;
            font-size: 18px;
            border: 0;
            width: 30px;
            height: 30px;
        }

        & span {
            width: 8px;
            height: 8px;
            border-left: 1px solid $black;
            border-bottom: 1px solid $black;
            @include transform(rotate(-45deg));
            position: relative;
            top: -5px;
        }
    }
}


.sticky{
    & .navbar-toggler {
        & .toggler-icon {
            background-color: $black;
        }
    }
    
        
    & .navbar-nav {
        & .nav-item {
            & a {
                color: $black;
                
                &::before{
                    background-color: $theme-color;
                }
                &.active,
                &:hover {
                    color: $theme-color;
                }
            }
            
            
        }
    }
}


/*===== hero =====*/

.single_hero{
    height: 750px;
    position: relative;
    overflow: hidden;   
    z-index: 1;
    
    @media #{$desktop}{
        height: 950px;
    }
    @media #{$lg}{
    }
    @media #{$md}{
        height: 700px;
    }
    @media #{$xs}{
        height: 650px;
    }

    &::before{
        position: absolute;
        content: '';
        background-color: rgba($heading-color, 0.70);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }
}

.hero_content{
    padding-top: 50px;
    
    & .hero_title{
        font-size: 60px;
        line-height: 85px;
        color: $white;
        margin-top: 15px;
        
        @media #{$lg}{
            font-size: 44px;
            line-height: 65px;
        }
        @media #{$md}{
            font-size: 40px;
            line-height: 60px;
        }
        @media #{$xs}{
            font-size: 24px;
            line-height: 38px;
        }
        @media #{$sm}{
            font-size: 40px;
            line-height: 60px;
        }
        
        & span{
            display: contents;
            color: $theme-color;
        }
    }
    & p{
        font-size: 16px;
        color: $white;
        margin-top: 30px;
        
        @media #{$xs}{
            font-size: 16px;
        }
    }
    
    & .main-btn{
        margin-top: 45px;
    }
}







