


/*===========================
     08.TESTIMONIAL css 
===========================*/

.testimonial_area{
    position: relative;
    
    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($heading-color, 0.90);
    }
}

.testimonial_active{
    & .glide__bullets {
        width: 100%;
        text-align: center;
        margin-top: 35px;
            
        & button.glide__bullet {
            margin: 0 5px;
            width: 18px;
            height: 5px;
            background-color: transparent;
            border-radius: 50px;
            font-size: 0;
            @include transition(0.3s);
            border: 0;
            background-color: #ECECEC;

            &.glide__bullet--active {
                background-color: $theme-color;
            }
        }

    }
}


.single_testimonial{
    & img{
        display: inline-block;
        border-radius: 50%;
        
        @media #{$xs}{
            width: 120px;
        }
    }
    
    & .author_name{
        font-size: 20px;
        font-weight: 600;
        color: $white;
        margin-top: 25px;
    }
    & span{
        font-size: 14px;
        color: $white;
    }
    & p{
        color: $white;
        margin-top: 15px;
    }
}







